@import '@styles/theme.module.scss';

.root {
     display:flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 60px;
    align-self: stretch;
    flex-wrap: wrap;
}



