.title {
    font-size: 50px;
    text-align: start;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
    color: var(--foreground-primary);
}
.header1 {
}
.p1 {
    font-size: 16px;
    text-align: start;
    color: var(--foreground-secondary);
}

.subtitle {
    font-size: 24px;
    text-align: start;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;
}
.text {
    font-size: 16px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.button {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    border: 1px solid var(--Container-border-secondary, rgba(255, 255, 255, 0.3));
    background: #000;
    color: var(--Button-foreground, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.button2 {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    color: var(--Forground-secondary, rgba(0, 0, 0, 0.7));
    font-family: var(--font, Manrope);
    font-size: normal;
    font-weight: 500;
    line-height: 27px;
}
.buttons {
    display: flex;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: start;
    overflow: visible;
}
.content {
    display: flex;
    min-width: 390px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Screen-content-gap, 32px);
    flex: 1 0 0;
}
.image {
    display: flex;
    height: 512px;
    min-width: 420px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    padding: 60px;
    width: 100%;
    border-radius: 70px;
    object-fit: cover;
    flex-wrap: nowrap;
}

.root {
    margin: 0 auto;
    text-align: start;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 60px;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 800px) {
        padding: 30px;
    }
    @media (max-width: 500px) {
        padding: 20px;
    }
}

.div1 {
    display: flex;
    flex-wrap: wrap;
}
.homePage {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}
